choice MBEDTLS_VERSION
    prompt "Mbedtls Version"
    default MBEDTLS_V2

    config MBEDTLS_V2
        bool "MbedTls V2.x"


    source "$IDF_PATH/components/mbedtls/mbedtls_v2/Kconfig"
endchoice()
