menu "FreeRTOS"

config FREERTOS_ENABLE_REENT
    bool "Enable \"reent\" function"
    default n
    select NEWLIB_ENABLE
    help
        Enable "reent" function and FreeRTOS should use "reent" function of newlib.

        The configuration will enable newlib.

config FREERTOS_HZ
    int "Tick rate (Hz)"
    range 1 1000
    default 100
    help
        Select the tick rate at which FreeRTOS does pre-emptive context switching.
        
endmenu
