menu "Unified Provisioning"

config ENABLE_UNIFIED_PROVISIONING
    bool "Enable Unified Provisioning"
    default n
    select MBEDTLS_CIPHER_MODE_CTR
    select MBEDTLS_ECP_C
    help
        This enables Unified Provisioning feature along with required components like Wifi-Provisioning, Protocomm and their mbedtls dependencies.
endmenu
