[submodule "components/json/cJSON"]
	path = components/json/cJSON
	url = ../../DaveGamble/cJSON.git

[submodule "components/mbedtls/mbedtls"]
	path = components/mbedtls/mbedtls
	url = ../../espressif/mbedtls.git
