menu "Example Configuration"
    config TARGET_MULTICAST_IPV4
        string "IPv4 multicast address"
        default "232.10.11.12"
        help
            Target IP for the example to listen.

    config TARGET_MULTICAST_IPV6
        string "IPv6 multicast address"
        default "ff02::fc"
        help
            Target IP for the example to listen.
endmenu
