menu "mDNS"

config ENABLE_MDNS
    bool "Enable mDNS"
    default n
    select LWIP_IPV6
    help
        Enable this option and then mDNS is to be used.

config ENABLE_MDNS_CONSOLE
    bool "Enable mDNS console"
    default n
    depends on ENABLE_MDNS
    select USING_ESP_CONSOLE
    help
        Enable this option and then mDNS console is to be used.

config MDNS_MAX_SERVICES
    int "Max number of services"
    range 1 64
    default 10
    depends on ENABLE_MDNS
    help
        Services take up a certain amount of memory, and allowing fewer
        services to be open at the same time conserves memory. Specify
        the maximum amount of services here. The valid value is from 1
        to 64.

config MDNS_STACKSIZE
    int "Max stack size of MDNS"
    range 2048 4096
    default 4096
    depends on ENABLE_MDNS
    help
        The stacksize of the MDNS task that will be responsible for transmitting
        and receiving MDNS packets.
        
endmenu
