
menu "Heap memory"

    config HEAP_DISABLE_IRAM
        bool "Disable IRAM as heap memory"
        default n
        help
            Disable IRAM as heap memory, and heap memory only use DRAM.

    config HEAP_TRACING
        bool "Enables heap tracing API"
        default n
        help
            Enables heap tracing API.

    config HEAP_PRIO_8BIT_RAM
        bool "Prioritize allocation of 8-bit access capable RAM"
        default n
        depends on !HEAP_DISABLE_IRAM
        help
            Set DRAM region ahead of IRAM region during initialization, so that allocations
            can be made against it first.

endmenu
