menu "wpa_supplicant"

config LTM_FAST
    bool "Use faster div, esptmod, sqr, montgomery multiplication algorithm"
    default y
    help
        Enable the option can enable faster div, faster exptmod, faster sqr, fast
        montgomery multiplication algorithm. Enable this option will cost about 
        3K ROM more than disable this option.

endmenu
