menu "Partition Table"

choice PARTITION_TABLE_TYPE
    prompt "Partition Table"
    default PARTITION_TABLE_SINGLE_APP
    help
        The partition table to flash to the ESP32. The partition table
        determines where apps, data and other resources are expected to
        be found.

        The predefined partition table CSV descriptions can be found
        in the components/partition_table directory. Otherwise it's
        possible to create a new custom partition CSV for your application.

config PARTITION_TABLE_SINGLE_APP
    bool "Single factory app, no OTA"
config PARTITION_TABLE_TWO_OTA
    bool "Factory app, two OTA definitions"
config PARTITION_TABLE_CUSTOM
    bool "Custom partition table CSV"
endchoice

config PARTITION_TABLE_CUSTOM_FILENAME
    string "Custom partition CSV file" if PARTITION_TABLE_CUSTOM
    default partitions.csv
    help
        Name of the custom partition CSV filename. This path is evaluated
        relative to the project root directory.

config PARTITION_TABLE_OFFSET
    hex "Partition table offset address at flash"
    default 0x8000
    help
        The partition table cannot be placed at application address.

config PARTITION_TABLE_FILENAME
       string
       default partitions_singleapp.csv if PARTITION_TABLE_SINGLE_APP && !ESP32_ENABLE_COREDUMP_TO_FLASH
       default partitions_singleapp_coredump.csv if PARTITION_TABLE_SINGLE_APP && ESP32_ENABLE_COREDUMP_TO_FLASH
       default partitions_two_ota.csv if PARTITION_TABLE_TWO_OTA && !ESP32_ENABLE_COREDUMP_TO_FLASH && !ESPTOOLPY_FLASHSIZE_1MB
       default partitions_two_ota.1MB.csv if PARTITION_TABLE_TWO_OTA && !ESP32_ENABLE_COREDUMP_TO_FLASH && ESPTOOLPY_FLASHSIZE_1MB
       default partitions_two_ota_coredump.csv if PARTITION_TABLE_TWO_OTA && ESP32_ENABLE_COREDUMP_TO_FLASH
       default PARTITION_TABLE_CUSTOM_FILENAME if PARTITION_TABLE_CUSTOM

endmenu


